.leaflet-container {
  width: 100vw;
  height: 100vh;
}

/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}

/* 既存のスタイルに追加 */
body {
  color: black;
}

.sidebar {
  width: 400px;
  background: #f0f0f0;
  padding: 10px;
  height: 100vh;
  overflow-y: auto; /* オーバーフロー時にスクロールバーを表示 */
  position: fixed;
  top: 0;
  left: -420px; /* 初期状態は非表示 */
  transition: left 0.3s ease;
  z-index: 1000; /* ボタンよりも下に表示 */
}

.sidebar.open {
  left: 0; /* 表示状態 */
}

.sidebar h3 {
  color: black;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar .layer-select {
  margin-top: 16px; /* ボタンのすぐ下に配置 */
}

/* マップコンテナのスタイルを設定 */
.map-container {
  flex: 1;
  background-color: #ffffff;
  transition: margin-left 0.3s ease; /* マップの移動をスムーズに */
}

.map-container.shifted {
  margin-left: 400px; /* サイドバーが開いたときにマップを移動 */
}

/* 開閉ボタンのスタイルを設定 */
.toggle-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1001;
  transition: left 0.3s ease;
}